/* START STYLE OF FORM */
.transfer {
  width: 17.5em;
  height: 25.625em;
  margin: -12.8125em 0 0;
  position: absolute;
  left: 5em;
  top: 50%;
  z-index: 30;
  overflow: hidden;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transform: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transform: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.transfer__contents {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 400;
  font-family: "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
  height: 21.125em;
  overflow: hidden;
}

.transfer__uploader-files {
  display: flex;
  align-items: center;
  padding-left: 7%;
  height: 155px;
  border-bottom: 1px solid #d4d7d9;
}

.transfer__head {
  display: inline-block;
  width: 80%;
  font-size: 1.3rem;
  font-weight: 400;
}

#add-btn {
  display: none;
  overflow: hidden;
  background: none;
  border: none;
  color: blue;
  font-weight: bold;
}

.add-btn {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 13px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #409fff;
}
.add-btn:hover {
  background-color: #0073e5;
  cursor: pointer;
}

.add-btn {
  font-size: 1rem;
  text-align: center;
  line-height: 35px;
  color: #ffffff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.email-field,
.textarea {
  width: 100%;
}

.email-field__field,
.textarea__field {
  display: block;
  width: 90%;
  height: 50px;
  margin: auto;
  padding-left: 3%;
  padding-top: 10%;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #d4d7d9;
  box-sizing: border-box;
}

.textarea__field {
  border-bottom: none;
  resize: none;
}

.email-field:focus-within .email-field__label,
.textarea:focus-within .textarea__label {
  margin-top: 0.5em;
  font-size: 0.7rem;
}

.email-field__label,
.textarea__label {
  position: absolute;
  margin-top: 1.07143em;
  left: 7%;
  font-size: 0.875em;
  color: #6a6d70;
  transition: margin-top 0.3s;
  -webkit-transition: margin-top 0.3s;
  -moz-transition: margin-top 0.3s;
  -ms-transition: margin-top 0.3s;
  -o-transition: margin-top 0.3s;
}

.transfer__footer {
  border-top: 1px solid #d4d7d9;
  height: 4.5em;
  padding: 0 1.25em;
  position: relative;
}

.transfer__button {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #409fff;
  border: 1px solid #409fff;
  border-radius: 1.25em;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  height: 2.5em;
  outline: 0;
  font-weight: 500;
  font-family: "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande",
    sans-serif;
  -webkit-transition: border-color 0.2s cubic-bezier(0.77, 0, 0.175, 1),
    background-color 0.2s cubic-bezier(0.77, 0, 0.175, 1),
    color 0.2s cubic-bezier(0.77, 0, 0.175, 1);
  transition: border-color 0.2s cubic-bezier(0.77, 0, 0.175, 1),
    background-color 0.2s cubic-bezier(0.77, 0, 0.175, 1),
    color 0.2s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 9.75em;
}

.transfer__button:hover,
.transfer__button:focus {
  background-color: #0073e5;
  border-color: #0073e5;
}

.transfer__button--inactive {
  background: #babcbf;
  border-color: #babcbf;
  color: #ffffff;
  cursor: default;
}
.transfer__button--inactive:hover,
.transfer__button--inactive:focus {
  background: #babcbf;
  border-color: #babcbf;
  color: #ffffff;
  cursor: default;
}

.transfer__toggle-options {
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 0;
  border-radius: 50%;
  outline: 0;
  font-size: 1em;
  background: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.transfer__toggle-options:hover {
  border: 1px solid #0073e5;
}

.scroll-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 280px;
  position: absolute;
  top: -284px;
  left: -105%;
  background-color: #fff;
  transition: left 1s ease 0.5s;
  -webkit-transition: left 1s ease 0.5s;
  -moz-transition: left 1s ease 0.5s;
  -ms-transition: left 1s ease 0.5s;
  -o-transition: left 1s ease 0.5s;
}
.scroll-menu__form-1,
.scroll-menu__form-2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50%;
  padding-top: 15px;
  box-sizing: border-box;
  border-top: 1px solid #d4d7d9;
}

.scroll-menu__head {
  margin: 0;
  padding-left: 10px;
  padding-bottom: 5px;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 0.825rem;
}

.poptip:hover .scroll-menu {
  left: 0;
}

.scroll-menu__field {
  display: none;
}

.scroll-menu__label {
  display: inline-block;
  width: 18px;
  height: 18px;
  padding-left: 2px;
  box-sizing: border-box;
  border: 1px solid #babcbf;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.active::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-size: 0.8rem;
  font-weight: 600;
  display: inline-block;
  color: green;
}

.scroll-menu__title {
  position: absolute;
  width: 70px;
  font-family: sans-serif;
  font-size: 0.7rem;
  margin-top: 25px;
}

.scroll-menu__form-1 span:nth-of-type(1) {
  margin-left: -20%;
}
.scroll-menu__form-1 span:nth-of-type(2) {
  margin-left: 32%;
}
.scroll-menu__form-2 span:nth-of-type(1) {
  margin-left: -25%;
}
.scroll-menu__form-2 span:nth-of-type(2) {
  margin-left: 7%;
}
.scroll-menu__form-2 span:nth-of-type(3) {
  margin-left: 40%;
}
.report {
  display: none;
  width: 200px;
  height: 220px;
  padding: 5px;
  font-family: sans-serif;
  font-size: 0.8rem;
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: 27%;
  left: 30%;
}
/* END STYLE OF FORM */